/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: unset;
}

a mat-icon {
  padding-right: 1rem;
}

.one-col {
  width: 25%;
}

.two-col {
  width: 50%;
}

.three-col {
  width: 75%;
}

mat-form-field,
input,
.four-col {
  width: 100%;
}

.bold-text {
  font-weight: 450;
  font-size: 1.25rem;
}

.center-text {
  text-align: center;
}

.upper-text {
  text-transform: uppercase;
}

.warn-text {
  color: #f44336 !important;
}

.black-text {
  color: black !important;
}

.white-text {
  color: white !important;
}

.contact-data-form {
  padding-top: 1rem;
}
